*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Boxh1 {
position:relative;
display:inline-block;
color: red;
left: 4vw;
top:-2vh;
width:12vw;
height:6vh;
cursor:pointer;
}
p{
  position:absolute;
  display:inline-block;
  color:white;
  width:3vw;
  left:15vw;
  margin-right:10px;
  top:0.3vh;
  font-size:1vw;
}
p:hover{
  cursor:pointer;
}
nav{
  position:absolute;
  display:inline-block;
  color:white;
  width:6.5vw;
  left:20vw;
  bottom:1vh;
  font-size:1vw;
}
nav:hover>ul{
  cursor:pointer;
  display:block;
}
ul{
  position:absolute;
  display:none;
  list-style:none;
  left:-0.5vw;
}
li{
  position:relative;
  right:3vw;
  border:1px;
  margin:7px;
  background-color:black;
}
li:hover{
  cursor:pointer;
  color:red;
}
img{
  position:absolute;
  top:-0.3vh;
}
